# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
max(2,3)

3

In [4]:
def lesser_of_two_evens(a,b):
    if a % 2 != 0 or b % 2 != 0:
        return max(a,b)
    else:
        return min(a,b)

In [5]:
# Check
lesser_of_two_evens(2,4)

2

In [6]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [11]:
"ciaone".upper()

'CIAONE'

In [14]:
def animal_crackers(text):
    words = text.upper().split()
    if words[0][0] == words[1][0]:
        return True
    else:
        return False

In [15]:
# Check
animal_crackers('Levelheaded Llama')

True

In [16]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [19]:
def makes_twenty(n1,n2):
    if n1+n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [20]:
# Check
makes_twenty(20,10)

True

In [21]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [37]:
s = "macdonald"
name1 = s[0:3].capitalize()
name2 = s[3:].capitalize()
name1+name2

'MacDonald'

In [38]:
def old_macdonald(name):
    name1 = name[0:3].capitalize()
    name2 = name[3:].capitalize()
    return name1+name2

In [39]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [45]:
s = 'I am home'
l = s.split()
l.reverse()
" ".join(l)

'home am I'

In [46]:
def master_yoda(text):
    words = text.split()
    words.reverse()
    return " ".join(words)

In [47]:
# Check
master_yoda('I am home')

'home am I'

In [48]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [49]:
def almost_there(n):
    if abs(n - 100) <= 10:
        return True
    elif abs(n - 200) <= 10:
        return True
    else:
        return False

In [50]:
# Check
almost_there(104)

True

In [51]:
# Check
almost_there(150)

False

In [52]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [80]:
def has_33(nums):
    q = zip(nums,nums[1:])
    for i,j in q:
        if i == j:
            return True
    return False

In [81]:
# Check
has_33([1, 3, 3])

True

In [82]:
# Check
has_33([1, 3, 1, 3])

False

In [83]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [89]:
a = 'Hello'

c = "dd"

a+c

'Hellodd'

In [90]:
def paper_doll(text):
    new =""
    for letter in text:
        new += (letter*3)
    return new

In [91]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [92]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [95]:
a = 1
b = 2
c = 11

11 in [a,b,c]

True

In [121]:
def blackjack(a,b,c):
    if (a+b+c) <= 21:
        return (a+b+c)
    elif (a+b+c) > 21 and 11 in [a,b,c]:
        return (a+b+c) - 10
    elif (a+b+c) > 21:
        return "BUST"

In [122]:
# Check
blackjack(5,6,7)

18

In [123]:
# Check
blackjack(9,9,9)

'BUST'

In [124]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [160]:
nums = [4, 5, 6, 7, 8, 9, 6,7,9]
nums[2:6] = [0] * len(nums[2:6])
nums

[4, 5, 0, 0, 0, 0, 6, 7, 9]

In [162]:
nums = [4, 5, 6, 7, 8, 9, 6,7,9]
sums = 0
start = nums.index(6)
end = nums.index(9)
a = nums[:start]
b = nums[end+1:]
print(a,b)

while 6 in nums:
    start = nums.index(6)
    end = nums.index(9)
    nums[start:(end+1)] = [0]* len(nums[start:(end+1)])
    
print(sum(nums))

[4, 5] [6, 7, 9]
9

In [167]:
def summer_69(arr):
    while 6 in arr:
        start = arr.index(6)
        end = arr.index(9)
        arr[start:(end+1)] = [0]* len(arr[start:(end+1)])
    return sum(arr)

In [168]:
# Check
summer_69([1, 3, 5])

9

In [169]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [170]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [133]:
nums = [1,2,4,0,0,7,5]

for i,num in enumerate(nums):
    if num == 0 and if 0 in nums[i:] and 7 in nums[i:]:
        if nums[i:].index(0) < nums[i:].index(7):
            return True

0 0 7

In [174]:
def spy_game(nums):
    for i,num in enumerate(nums):
        if num == 0 and 0 in nums[i:] and 7 in nums[i:]:
            if nums[i:].index(0) < nums[i:].index(7):
                return True
        
    return False

In [175]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [176]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [177]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [186]:
import math

math.floor(math.sqrt(4))

2

In [188]:
count = 0
for num in range(2,25+1):
    for i in range(2,math.floor(math.sqrt(i))):
        if num % i == 0:
            break
        else:
            count +=1
count

0

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!